# Use this npmrc for repos that want to install packages from enkel-digital github org's package repository

# Allow installation of org packages from github org
registry=https://npm.pkg.github.com/Enkel-Digital
@enkel-digital:registry=https://npm.pkg.github.com